
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding: 40px 20px;
}



.factura {
    width: 100%;
    max-width: 700px;
    background: #ffffff;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}



.encabezado{
    width: 100%;
    aspect-ratio: 16 / 4; /*evita que se aplaste*/
    background-image: url("./img/z.jpeg"); 
    background-size: 100% 100%;    
    display: flex;
    align-items: center;
}

.contenido-encabezado {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icono {
    font-size: 20px;
    font-weight: 900;
    color: #e07820;
    border: 2.5px solid #e07820;
    padding: 3px 8px;
    border-radius: 4px;
    line-height: 1.2;
    font-style: italic;
}

.logo-nombre {
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2.5px;
}

.logo-slogan {
    font-size: 8px;
    color: #888888;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 2px;
}

.info-invoice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-invoice {
    font-size: 37px;
    font-weight: 645;
    color: #e07820;
    line-height: 1;
    margin-top: 4px;

}

.detalles-invoice {
    margin-top: 10px;
    
}

.detalle-fila {
    display: flex;
    justify-content: space-between;
    font-size: 8.2px;
    
}

.detalle-label {
    color: #aaaaaa;
    font-weight: 600;
    text-align: right;
}

.detalle-valor {
    color: #ffffff;
    min-width: 100px;
    text-align: right;
}



.cuerpo {
    padding: 30px 40px;
}



.seccion-cliente {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.etiqueta-naranja {
    font-size: 15px;
    font-weight: 500;
    color: #e07820;
    justify-content: space-between;
    display: flex;
    


}

.nombre-cliente {
    font-size: 26px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 7px;
}

.datos-cliente p {
    font-size: 11px;
    color: #555555;
    margin-bottom: 2px;
}

.metodo-pago {
    text-align: right;
}

.fila-pago {
    display: flex;
    justify-content:space-between  ;
    align-items: center;
    gap: 12px;
    font-size: 11px;
    margin-bottom: 4px;
}

.fila-pago strong {
    color: #333333;
    white-space: nowrap;
}

.fila-pago span {
    color: #666666;
    min-width: 100px;
    text-align: left;
}






/*tabla*/
.tabla-items {
    width: 100%;
    border-collapse:separate;
    border-spacing: 4px; /*espaccio entre el tr*/
    margin-bottom: 20px;
}

.tabla-items thead tr {
    background-color: #e07820;

}

.tabla-items thead th {
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: px;
    padding: 12px 15px;
}



.tabla-items tbody tr {
    background-color: #f7f7f7;
}


.tabla-items tbody td {
    padding: 12px 15px;
    font-size: 11px;
    color: #444444;
}


.tabla-items tbody tr:nth-child(odd) {
  background-color: #ffffff; /* blanco */
}

.tabla-items tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* gris claro */
}






.seccion-totales {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
    margin-bottom: 12px;
}

.fila-subtotal {
    display: flex;
    justify-content: space-between; /*alinia tofdo por  que los mueve*/
    width: 100%;
    font-size: 11px;
    color: #555555;
    margin-bottom: 5px;
}


.barra-total {
    width: 100%;
    background-color: #e07820;
    padding: 13px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.total-etiqueta {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}

.total-valor {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}






.seccion-pie {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 25px;
}

.terminos h3 {
    font-size: 13px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 8px;
}

.terminos p {
    font-size: 10px;
    color: #777777;
    max-width: 360px;
    line-height: 1.7;
}

.firma {
    text-align: center;
}

.firma-linea {
    border-bottom: 1.5px solid #000000;
    width: 150px;
    margin-bottom: 6px;
}
.firma-linea img{
    width: 100px;
}

.firma-nombre {
    font-size: 11px;
    font-weight: 700;
    color: #000000;
}

.firma-cargo {
    font-size: 9px;
    color: #999999;
    margin-top: 2px;
}


/*fouter*/
.pie {
    width: 100%;
    overflow: hidden;
    line-height: 0; /* elimina espacio extra debajo de la img */
}

.pie img {
    width: 100%;
    height: auto;
    display: block;
}


@media (max-width: 563px) {

    .encabezado {
        background-image: url("./img/encabezado2.jpeg");
        background-size: cover;
        background-position: center;
        aspect-ratio: 16 / 5;
    }

    .contenido-encabezado {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .info-invoice {
        align-items: center;
    }

    .detalle-fila {
        justify-content: center;
        gap: 10px;
    }

    .seccion-cliente {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .metodo-pago,
    .datos-cliente {
        width: 100%;
        text-align: center;
    }

    

    .tabla-items {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .tabla-items thead,
    .tabla-items tbody {
        display: table;
        width: 600px;
    }

    .seccion-pie {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
}


@media (max-width: 300px) {

    .cuerpo {
        padding: 15px;
    }

    .titulo-invoice {
        font-size: 25px;
    }

    .nombre-cliente {
        font-size: 20px;
    }

    .tabla-items thead,
    .tabla-items tbody {
        width: 500px;
    }

    .fila-subtotal,
    .fila-pago {
        font-size: 10px;
    }
}